
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    background-image: linear-gradient(rgba(186, 28, 28, 0.5),rgba(232, 165, 64, 0.5)), url(download.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 10px;
}
.navbar ul li{
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: white;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;

}
.logo{
    font-family: Georgia;
    float: left;
    font-size: 25px;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    top: 50%;
    width: 100%;
    text-align: center;
    color: aliceblue;
    position: absolute;
    transform: translateY(-50%);
}
.title h1{
    font-family: sans-serif;
    color: black;
    font-size: 50px;

}
.title p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-family: monospace;
    color: black;

}
.button{
    position: absolute;
    top: 80%;
    left: 40%;
    transform: translate(-50%-50%);
}
.btn1{
    border: 1px solid #fff;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
    border-radius: 15px;
    margin: 50px;
}
.btn1:hover{
    background-color: #fff;
    color: black;
}



